<h1>Players</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |player|}}
      <tr>
        <td>
          {{#if player.isEditing}}
          <form {{action 'savePlayer' player on='submit'}} class="form-inline">
            <div class="input-group">
              {{input value=player.name class="form-control"}}
              <div class="input-group-btn">
                <button type="submit" class="btn btn-success" disabled={{player.isNotValid}}>Save</button>
                <button class="btn btn-danger" {{action 'cancelPlayerEdit' player}}>Cancel</button>
              </div>
            </div>
          </form>
          {{else}}
            <span {{action 'editPlayer' player}}>{{player.name}}</span>
          {{/if}}
        </td>
        <td>{{player.team.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
